html,body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 254, 202);
}
/* 양쪽 객실관리, 예약관리 */
#header{
    position:relative;
    font-size: 30px;
}
/* 객실목록전체 */
#room{
    position: relative;
    margin-top: 80px;
    margin-right: 75%;
    margin-bottom: 0;
}
/* 객실목록 */
#roomListTitle{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 15px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}
/* 백두산 */
#roomList{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 400px;
    height: 700px;
    font-size: 20px;
    margin-left: 15px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}
/* 오른쪽 */
#roomOption{
    color: rgb(97, 60, 24);
    position: absolute;
    margin-left: 600px;
    height: 250px;
    width: 400px;
    background-color: rgb(248, 177, 120);
    font-size: 20px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
}
/* 객실관리버튼 */
#btn{
    position: absolute;
    margin-left: 600px;
    height: 100px;
    width: 400px;
    margin-top: 400px;
    padding-top: 50px;
    padding-left: 20px;
    background-color: rgb(248, 177, 120);
    font-size: 20px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    
}
/* 예약관리버튼 */
#btn2{
    position: absolute;
    margin-left: 500px;
    height: 100px;
    width: 400px;
    margin-top: 500px;
    padding-top: 50px;
    padding-left: 20px;
    background-color: rgb(248, 177, 120);
    font-size: 20px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
}
/* 양쪽버튼 */
.button{
    background-color: rgb(255, 255, 255);
    width: 120px;
    height: 40px;
    border-radius: 12px;
}

/* 예약가능목록 */
#ableReserve{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 400px;
    height: 600px;
    font-size: 20px;
    margin-top: 200px;
    margin-left: 15px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}
/* 예약가능 객실찾기 */
#searchReserve{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 400px;
    height: 80px;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 15px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}
/* 예약가능 */
#ableReserveTitle{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 155px;
    margin-left: 15px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}
/* 예약내용관리 */
#reserveList{
    color: rgb(97, 60, 24);
    position: absolute;
    margin-top: 200px;
    margin-left: 500px;
    height: 250px;
    width: 400px;
    background-color: rgb(248, 177, 120);
    font-size: 20px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
}
/* 예약된 객실 */
#closeReserve{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 550px;
    height: 700px;
    font-size: 20px;
    margin-top: 100px;
    margin-left: 1000px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}
#closeReserveTitle{
    color: rgb(97, 60, 24);
    background-color: rgb(248, 177, 120);
    width: 150px;
    height: 30px;
    font-size: 20px;
    margin-top: 55px;
    margin-left: 1000px;
    border: 3px double rgb(168, 9, 9);
    border-radius: 12px;
    float:inherit;
    position: absolute;
}